* {
  outline: none !important;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito", Tahoma, Geneva, sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
  color: #3B3954;
  display: flex;
  flex-direction: column;
}
body > * {
  flex-shrink: 0;
}

a {
  color: #709C8A;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 41px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

h5 {
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
}

.text-center {
  text-align: center;
}

p {
  margin: 1.5em 0;
}

b {
  font-weight: bold;
}

.list-dash {
  list-style: none;
  padding-left: 0;
}
.list-dash li {
  position: relative;
  padding-left: 10px;
}
.list-dash li:before {
  content: "-";
  position: absolute;
  line-height: 0;
  width: 5px;
  height: 1px;
  top: 14px;
  left: 0;
}

@media (max-width: 991px) {
  body {
    margin-top: 60px;
  }

  h1 {
    font-size: 34px;
    line-height: 42px;
  }

  h2 {
    font-size: 34px;
    line-height: 42px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 34px;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
  }

  h3 {
    font-size: 20px;
    line-height: 26px;
  }
}
.header {
  padding: 9px 0;
}
.header .container {
  display: flex;
  align-items: center;
}
.header .menu-main-hamburger,
.header .menu-main {
  margin-left: auto;
}
@media (max-width: 991px) {
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #F5F2ED;
    z-index: 1111;
    padding-bottom: 11px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1320px) {
  .container {
    width: 1280px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
}

.menu-main ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.menu-main ul li {
  margin-right: 65px;
}
.menu-main ul a {
  color: #3B3954;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-decoration: none;
}
.menu-main ul a:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  .menu-main {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 80%;
    max-width: 250px;
    transition: left 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    background: #709C8A;
    z-index: 1111;
  }
  .menu-main.active {
    left: 0;
  }
  .menu-main ul {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
  }
  .menu-main ul li {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .menu-main ul li a {
    color: #F5F2ED;
  }
}

.menu-main-hamburger {
  display: none;
}
@media (max-width: 991px) {
  .menu-main-hamburger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .menu-main-hamburger .bar-1,
.menu-main-hamburger .bar-2 {
    height: 2px;
    background: #3B3954;
    width: 100%;
    margin-bottom: 4px;
  }
  .menu-main-hamburger .bar-3 {
    height: 2px;
    width: 50%;
    background: #3B3954;
    flex-shrink: 0;
  }
  .menu-main-hamburger.active .bar-1 {
    transform: rotate(45deg);
    margin-bottom: -2px;
  }
  .menu-main-hamburger.active .bar-2 {
    transform: rotate(-45deg);
    margin-bottom: -2px;
  }
  .menu-main-hamburger.active .bar-3 {
    display: none;
  }
}

.login-links {
  margin-left: 30px;
}
.login-links .btn-link {
  margin-left: 30px;
}
@media (max-width: 767px) {
  .login-links {
    display: none;
  }
  .login-links .btn-link {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  .login-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    position: fixed;
    top: 60px;
    right: 15px;
    padding: 20px;
    background: #F5F2ED;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-radius: 3px;
  }
}

.user {
  display: none;
}
@media (max-width: 767px) {
  .user {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: block;
    margin-left: 30px;
  }
  .user img {
    fill: #3B3954;
    max-width: 100%;
  }
}

.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 28px;
  cursor: pointer;
  text-align: center;
}
.btn:hover {
  text-decoration: none;
  opacity: 0.9;
}

.btn-brand {
  padding: 17px 32px;
  color: #f7f5f0;
  background: #709C8A;
  box-shadow: 0 2px 4px 0 rgba(57, 74, 84, 0.8);
}
.btn-brand.--sm {
  padding: 7px 30px;
}
@media (max-width: 767px) {
  .btn-brand {
    padding: 12px 32px;
  }
  .btn-brand.--sm {
    font-size: 14px;
    line-height: 19px;
    padding: 3px 23px;
  }
}

.btn-link {
  font-weight: 600;
  color: #3B3954;
}
.btn-link:hover {
  text-decoration: underline;
}

.section-banner {
  padding: 128px 0;
}
.section-banner .container {
  display: flex;
  align-items: center;
}
.section-banner__content {
  position: relative;
  z-index: 2;
  max-width: 490px;
  flex-shrink: 0;
}
.section-banner__content h1 {
  margin-top: 0;
  margin-bottom: 64px;
}
.section-banner__image {
  margin-left: -50px;
  display: flex;
}
@media (max-width: 1439px) {
  .section-banner__image img {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .section-banner {
    padding: 98px 0;
  }
  .section-banner__content {
    max-width: 390px;
  }
  .section-banner__content h1 {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .section-banner {
    padding: 50px 0;
  }
  .section-banner .container {
    flex-direction: column-reverse;
  }
  .section-banner__image {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

.section {
  padding: 70px 0 123px;
  background-position: center 357px;
  background-repeat: no-repeat;
}
.section.--big-padding {
  padding: 80px 0 181px;
}
.section h2:first-child, .section h3:first-child {
  margin-top: 0;
}
.section-button {
  text-align: center;
  margin-top: 43px;
}
.section-button .btn {
  min-width: 330px;
}
@media (max-width: 991px) {
  .section h2 br, .section h3 br {
    display: none;
  }
}
@media (max-width: 767px) {
  .section {
    background-repeat: repeat-y;
    padding: 50px 0;
  }
  .section.--big-padding {
    padding: 50px 0;
  }
  .section-button {
    margin-top: 10px;
  }
  .section-button .btn {
    min-width: 280px;
  }
}

.client-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
@media (max-width: 991px) {
  .client-wrap {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .client-wrap {
    margin-top: 30px;
    justify-content: space-around;
  }
}

.client {
  display: flex;
}
@media (max-width: 991px) {
  .client {
    margin: 20px 45px;
  }
}
@media (max-width: 767px) {
  .client {
    margin: 15px 10px;
  }
}

.image-text {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  align-items: center;
}
.image-text__image {
  max-width: 609px;
  flex-shrink: 0;
  margin-right: 96px;
  position: relative;
}
.image-text__image:before {
  content: "";
  display: block;
  background: url("../images/bloc2/image-background.png") center no-repeat;
  height: 374px;
  width: 706px;
  position: absolute;
  left: -158px;
  top: -54px;
}
@media (max-width: 1199px) {
  .image-text__image {
    width: 50%;
  }
  .image-text__image:before {
    left: -238px;
  }
}
@media (max-width: 991px) {
  .image-text {
    flex-direction: column;
  }
  .image-text__image {
    margin-right: 0;
    width: auto;
  }
  .image-text__image:before {
    left: -158px;
  }
}
@media (max-width: 767px) {
  .image-text__image:before {
    background-size: contain;
    width: 380px;
    height: 200px;
    left: -115px;
  }
}

.plate-consultant {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 25px 45px 100px -20px rgba(57, 55, 82, 0.1);
  display: flex;
  position: relative;
  z-index: 2;
}
@media (max-width: 1199px) {
  .plate-consultant img {
    max-width: 100%;
  }
}

.article-wrap {
  display: flex;
  margin-top: 96px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article-wrap.--space-around {
  justify-content: space-around;
  margin-top: -34px;
}
@media (max-width: 1199px) {
  .article-wrap {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .article-wrap {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .article-wrap {
    flex-direction: column;
  }
  .article-wrap.--space-around {
    margin-top: 0;
  }
}

.article {
  max-width: 330px;
  flex-shrink: 0;
}
.article__image {
  display: flex;
  margin-bottom: 63px;
  max-width: fit-content;
}
.article h4 {
  max-width: 215px;
}
.article.--v2 {
  max-width: 438px;
  margin-top: 128px;
}
.article.--v2 .article__image {
  border-radius: 15px;
  box-shadow: 5px 10px 30px -8px rgba(57, 55, 82, 0.15);
  overflow: hidden;
}
.article.--v3 {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.article.--v3 h3 {
  margin-bottom: 70px;
}
.article.--v3 .article__links {
  display: flex;
  align-items: center;
  margin-top: 52px;
}
.article.--v3 .article__links .btn {
  margin-top: 0;
  margin-right: 32px;
  min-width: 189px;
}
.article.--v3 .article__links .btn:hover {
  text-decoration: none;
}
.article.--v3 .article__links a {
  font-weight: 800;
  text-decoration: none;
}
.article.--v3 .article__links a:hover {
  text-decoration: underline;
}
@media (max-width: 1199px) {
  .article {
    margin-left: 50px;
    margin-right: 50px;
  }
  .article.--v2 {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .article {
    flex: calc(50% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
  }
  .article h4 {
    max-width: fit-content;
  }
  .article.--v2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
    flex: calc(50% - 30px);
  }
  .article__image {
    margin-bottom: 30px;
  }
  .article__image img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .article {
    flex: fit-content;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    margin-top: 15px;
  }
  .article.--v2 {
    flex: fit-content;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    margin-top: 50px;
  }
  .article.--v2:first-child {
    margin-top: 30px;
  }
  .article.--v3 {
    margin-top: 0;
  }
  .article.--v3 h3 {
    margin-bottom: 30px;
  }
  .article.--v3 .article__links {
    margin-top: 32px;
  }
  .article__image {
    margin-left: auto;
    margin-right: auto;
  }
  .article__links {
    flex-wrap: wrap;
  }
}

.footer {
  padding: 36px 0 64px;
  margin-top: auto;
  background-color: #3B3954;
  color: #F5F2ED;
}
.footer__top {
  display: flex;
}
.footer .socials {
  margin-left: auto;
}
.footer__bottom {
  display: flex;
  align-items: center;
}
.footer .copyright {
  margin-left: auto;
}
.footer h5 {
  margin-bottom: 17px;
}
@media (max-width: 991px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer .socials {
    margin-left: 0;
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer .socials {
    margin-bottom: 44px;
  }
  .footer .copyright {
    margin-left: 0;
    margin-top: 15px;
  }
}

.footer-menu {
  margin-right: 128px;
  margin-bottom: 64px;
}
.footer-menu ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.footer-menu ul li {
  margin-bottom: 7px;
}
.footer-menu ul a {
  text-decoration: none;
  color: #F5F2ED;
}
.footer-menu ul a:hover {
  text-decoration: underline;
}
@media (max-width: 1199px) {
  .footer-menu {
    margin-right: 100px;
  }
}
@media (max-width: 991px) {
  .footer-menu {
    margin-right: 70px;
    margin-bottom: 30px;
  }
  .footer-menu:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .footer-menu {
    margin-bottom: 15px;
  }
}

.socials {
  flex-shrink: 0;
}
.socials a {
  display: block;
  float: left;
  text-decoration: none;
  margin-right: 16px;
}
.socials a:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
