.article-wrap
    display: flex
    margin-top: 96px
    justify-content: space-between
    flex-wrap: wrap
    &.--space-around
        justify-content: space-around
        margin-top: -34px

    @media (max-width: 1199px)
        justify-content: center

    @media (max-width: 991px)
        margin-top: 0

    @media (max-width: 767px)
        flex-direction: column
        &.--space-around
            margin-top: 0

.article
    max-width: 330px
    flex-shrink: 0
    &__image
        display: flex
        margin-bottom: 63px
        max-width: fit-content
    h4
        max-width: 215px
    &.--v2
        max-width: 438px
        margin-top: 128px
        .article__image
            border-radius: 15px
            box-shadow: 5px 10px 30px -8px rgba(57,55,82,0.15)
            overflow: hidden
    &.--v3
        max-width: 768px
        margin-left: auto
        margin-right: auto
        h3
            margin-bottom: 70px
        .article__links
            display: flex
            align-items: center
            margin-top: 52px
            .btn
                margin-top: 0
                margin-right: 32px
                min-width: 189px
                &:hover
                    text-decoration: none
            a
                font-weight: 800
                text-decoration: none
                &:hover
                    text-decoration: underline

    @media (max-width: 1199px)
        margin-left: 50px
        margin-right: 50px
        &.--v2
            margin-left: 0
            margin-right: 0

    @media (max-width: 991px)
        flex: calc(50% - 30px)
        margin-left: 15px
        margin-right: 15px
        margin-top: 50px
        h4
            max-width: fit-content
        &.--v2
            margin-left: 15px
            margin-right: 15px
            margin-top: 80px
            flex: calc(50% - 30px)
        &__image
            margin-bottom: 30px
            img
                max-width: 100%

    @media (max-width: 767px)
        flex: fit-content
        margin-left: 0
        margin-right: 0
        max-width: 100%
        margin-top: 15px
        &.--v2
            flex: fit-content
            margin-left: 0
            margin-right: 0
            max-width: 100%
            margin-top: 50px
            &:first-child
                margin-top: 30px
        &.--v3
            margin-top: 0
            h3
                margin-bottom: 30px
            .article__links
                margin-top: 32px
        &__image
            margin-left: auto
            margin-right: auto
        &__links
            flex-wrap: wrap