.btn
    display: inline-block
    font-size: 16px
    line-height: 22px
    text-decoration: none
    font-weight: bold
    border-radius: 28px
    cursor: pointer
    text-align: center
    &:hover
        text-decoration: none
        opacity: 0.9

.btn-brand
    padding: 17px 32px
    color: #f7f5f0
    background: $color-brand
    box-shadow: 0 2px 4px 0 rgba(57,74,84,0.8)
    &.--sm
        padding: 7px 30px
    @media (max-width: 767px)
        padding: 12px 32px
        &.--sm
            font-size: 14px
            line-height: 19px
            padding: 3px 23px

.btn-link
    font-weight: 600
    color: $color-text
    &:hover
        text-decoration: underline