.client-wrap
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: 60px

    @media (max-width: 991px)
        flex-wrap: wrap
        justify-content: center
        margin-top: 40px

    @media (max-width: 767px)
        margin-top: 30px
        justify-content: space-around

.client
    display: flex

    @media (max-width: 991px)
        margin: 20px 45px

    @media (max-width: 767px)
        margin: 15px 10px