*
    outline: none !important
    box-sizing: border-box

html,
body
    height: 100%

body
    font-family: 'Nunito', Tahoma, Geneva, sans-serif
    font-size: 17px
    line-height: 28px
    font-weight: 300
    color: $color-text
    display: flex
    flex-direction: column
    & > *
        flex-shrink: 0

a
    color: $color-brand

h1
    font-size: 40px
    font-weight: 800
    line-height: 50px

h2
    font-size: 40px
    font-weight: bold
    line-height: 50px

h3
    font-size: 30px
    font-weight: bold
    line-height: 41px

h4
    font-size: 20px
    font-weight: bold
    line-height: 28px

h5
    font-size: 17px
    font-weight: bold
    line-height: 23px

.text-center
    text-align: center

p
    margin: 1.5em 0

b
    font-weight: bold

.list-dash
    list-style: none
    padding-left: 0
    li
        position: relative
        padding-left: 10px
        &:before
            content: '-'
            position: absolute
            line-height: 0
            width: 5px
            height: 1px
            top: 14px
            left: 0

@media (max-width: 991px)
    body
        margin-top: 60px

    h1
        font-size: 34px
        line-height: 42px

    h2
        font-size: 34px
        line-height: 42px

    h3
        font-size: 24px
        line-height: 30px

@media (max-width: 767px)
    h1
        font-size: 28px
        line-height: 34px

    h2
        font-size: 24px
        line-height: 30px

    h3
        font-size: 20px
        line-height: 26px