.container
    margin-left: auto
    margin-right: auto
    padding-left: 15px
    padding-right: 15px
    @media (min-width: 1320px)
        width: 1280px
    @media (max-width: 1199px)
        width: 970px
    @media (max-width: 991px)
        width: 750px
    @media (max-width: 767px)
        width: auto