.footer
    padding: 36px 0 64px
    margin-top: auto
    background-color: $color-text
    color: #F5F2ED
    &__top
        display: flex
    .socials
        margin-left: auto
    &__bottom
        display: flex
        align-items: center
    .copyright
        margin-left: auto
    h5
        margin-bottom: 17px

    @media (max-width: 991px)
        &__top
            flex-wrap: wrap
        .socials
            margin-left: 0
            margin-bottom: 64px

    @media (max-width: 767px)
        &__bottom
            flex-direction: column
            align-items: flex-start
        .socials
            margin-bottom: 44px
        .copyright
            margin-left: 0
            margin-top: 15px

.footer-menu
    margin-right: 128px
    margin-bottom: 64px
    ul
        padding-left: 0
        list-style: none
        margin: 0
        li
            margin-bottom: 7px
        a
            text-decoration: none
            color: #F5F2ED
            &:hover
                text-decoration: underline

    @media (max-width: 1199px)
        margin-right: 100px

    @media (max-width: 991px)
        margin-right: 70px
        margin-bottom: 30px
        &:last-child
            margin-right: 0

    @media (max-width: 767px)
        margin-bottom: 15px