.header
    padding: 9px 0
    .container
        display: flex
        align-items: center
    .menu-main-hamburger,
    .menu-main
        margin-left: auto

    @media (max-width: 991px)
        position: fixed
        width: 100%
        left: 0
        top: 0
        background: #F5F2ED
        z-index: 1111
        padding-bottom: 11px