.image-text
    display: flex
    justify-content: space-between
    margin-top: 130px
    align-items: center
    &__image
        max-width: 609px
        flex-shrink: 0
        margin-right: 96px
        position: relative
        &:before
            content: ''
            display: block
            background: url("../images/bloc2/image-background.png") center no-repeat
            height: 374px
            width: 706px
            position: absolute
            left: -158px
            top: -54px

    @media (max-width: 1199px)
        &__image
            width: 50%
            &:before
                left: -238px

    @media (max-width: 991px)
        flex-direction: column
        &__image
            margin-right: 0
            width: auto
            &:before
                left: -158px

    @media (max-width: 767px)
        &__image
            &:before
                background-size: contain
                width: 380px
                height: 200px
                left: -115px