.login-links
    margin-left: 30px
    .btn-link
        margin-left: 30px

    @media (max-width: 767px)
        display: none
        .btn-link
            margin-top: 8px
            margin-left: auto
            margin-right: auto
        &.active
            display: flex
            flex-direction: column
            align-items: center
            margin-left: 0
            position: fixed
            top: 60px
            right: 15px
            padding: 20px
            background: #F5F2ED
            box-shadow: 0 6px 12px rgba(0,0,0,.175)
            border-radius: 3px