.menu-main
    ul
        list-style: none
        padding-left: 0
        display: flex
        align-items: center
        li
            margin-right: 65px
        a
            color: $color-text
            font-size: 16px
            letter-spacing: 0
            line-height: 22px
            text-decoration: none
            &:hover
                text-decoration: underline

    @media (max-width: 991px)
        position: fixed
        top: 0
        left: -250px
        height: 100%
        width: 80%
        max-width: 250px
        transition: left 0.3s
        overflow-y: scroll
        overflow-x: hidden
        margin: 0
        background: $color-brand
        z-index: 1111
        &.active
            left: 0
        ul
            flex-direction: column
            align-items: flex-start
            margin: 0
            padding: 20px
            li
                margin-left: 0
                margin-right: 0
                margin-bottom: 5px
                a
                    color: #F5F2ED