.menu-main-hamburger
    display: none
    @media (max-width: 991px)
        width: 30px
        height: 30px
        display: flex
        flex-direction: column
        justify-content: center
        cursor: pointer
        .bar-1,
        .bar-2
            height: 2px
            background: $color-text
            width: 100%
            margin-bottom: 4px
        .bar-3
            height: 2px
            width: 50%
            background: $color-text
            flex-shrink: 0
        &.active
            .bar-1
                transform: rotate(45deg)
                margin-bottom: -2px
            .bar-2
                transform: rotate(-45deg)
                margin-bottom: -2px
            .bar-3
                display: none