.plate-consultant
    border-radius: 10px
    overflow: hidden
    box-shadow: 25px 45px 100px -20px rgba(57,55,82,0.1)
    display: flex
    position: relative
    z-index: 2

    @media (max-width: 1199px)
        img
            max-width: 100%