.section
    padding: 70px 0 123px
    background-position: center 357px
    background-repeat: no-repeat
    &.--big-padding
        padding: 80px 0 181px
    h2, h3
        &:first-child
            margin-top: 0
    &-button
        text-align: center
        margin-top: 43px
        .btn
            min-width: 330px

    @media (max-width: 991px)
        h2, h3
            br
                display: none

    @media (max-width: 767px)
        background-repeat: repeat-y
        padding: 50px 0
        &.--big-padding
            padding: 50px 0
        &-button
            margin-top: 10px
            .btn
                min-width: 280px