.section-banner
    padding: 128px 0
    .container
        display: flex
        align-items: center
    &__content
        position: relative
        z-index: 2
        max-width: 490px
        flex-shrink: 0
        h1
            margin-top: 0
            margin-bottom: 64px
    &__image
        margin-left: -50px
        display: flex

    @media (max-width: 1439px)
        &__image
            img
                max-width: 100%

    @media (max-width: 991px)
        padding: 98px 0
        &__content
            max-width: 390px
            h1
                margin-bottom: 40px

    @media (max-width: 767px)
        padding: 50px 0
        .container
            flex-direction: column-reverse
        &__image
            margin-left: 0
            margin-bottom: 30px