.user
    display: none
    @media (max-width: 767px)
        height: 30px
        width: 30px
        cursor: pointer
        display: block
        margin-left: 30px
        img
            fill: $color-text
            max-width: 100%